@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: YuGothic, "Yu Gothic Medium", "Yu Gothic", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ,
        sans-serif;
    line-height: 1.8;
    letter-spacing: 0.05rem;
}

section {
    @apply mb-12 lg:mb-20;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

.raleway {
    font-family: Raleway;
}

.container {
    @apply max-w-screen-lg mx-auto;
}

.NavMenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    @apply pl-6 bg-white shadow;
    z-index: 4;
}

.NavMenu__text {
    max-width: 250px;
    @apply font-Raleway font-medium text-black text-3xl;
}

.NavMenu__item {
    /* display: flex; */
    align-items: center;
    @apply hidden md:flex;
}

.NavMenu__item li {
    @apply font-Raleway font-medium text-black tracking-widest text-lg p-6;
}

.hero {
    width: 100%;
    display: flex;
    align-items: flex-end;
    height: 100vh;
    background: url(img/hero_img.png) center/cover;
    padding-bottom: 3rem;
}

.hero__text {
    @apply font-Raleway text-4xl md:text-6xl lg:text-8xl text-white tracking-widest pl-4 md:pl-0;
}

.heroChild {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    @apply bg-gray h-52 md:h-80;
    background: url(img/herochild_img.jpeg) center/cover;
}

.heroChild__wrapper {
    @apply relative;
    margin-right: auto;
    margin-left: 0;
    top: 11rem;
    left: 3rem;
}
.heroChild__text {
    @apply font-Raleway font-medium text-3xl md:text-4xl text-white bg-primary tracking-widest mb-2 p-2;
}

.heroChild__wrapper span {
    @apply bg-primary text-white p-2;
}

.PictureCard {
    @apply relative mb-56;
}

.PictureCard__img {
    @apply object-cover object-center;
}

.PictureCard__wrapper {
    z-index: 2;
    @apply relative grid grid-cols-1 md:grid-cols-2 gap-8;
}

.PictureCard__inner {
    @apply flex items-center justify-center px-4;
}

.PictureCard__text {
    @apply mb-12;
}

.PictureCard__logo {
    z-index: 1;
    bottom: -8vw;
    right: 0rem;
    position: absolute;
    @apply md:block hidden;
}

.MainHeading {
    @apply relative  font-Raleway font-semibold tracking-widest text-3xl text-center text-primary mb-6 md:mb-8;
}

.MainHeading::after {
    display: block;
    content: "";
    position: absolute;
    left: 50%;
    top: 125%;
    width: 1px;
    height: 60px;
    background-color: #000;
    z-index: 1;
}

.MainBtnCenter {
    @apply text-center;
}

.MainBtn {
    position: relative;
    padding: 1rem 5rem;
    display: inline-block;
    transition: all 0.2s linear;
    @apply text-MainBtnText bg-MainBtnBg border-2 border-MainBtnText font-medium text-center;
}

.MainBtn:hover {
    @apply text-MainBtnHoverText bg-MainBtnHoverBg;
}

.MainBtn::before {
    content: "";
    position: absolute;
    top: 50%;
    right: -27px;
    width: 40px;
    height: 1px;
    transition: all 0.2s linear;
    @apply bg-MainBtnText;
}

.MainBtn::after {
    content: "";
    position: absolute;
    top: 32%;
    right: -22px;
    width: 1px;
    height: 12px;
    transform: skewX(45deg);
    transition: all 0.2s linear;
    @apply bg-MainBtnText;
}

.MainBtn:hover::before {
    right: -30px;
}

.MainBtn:hover::after {
    right: -25px;
}

.Company__list {
    align-items: center;
    padding: 1rem;
    @apply block md:flex border-b border-gray　mx-4 lg:mx-0;
}

.Company__list dt {
    @apply w-3/12;
}

.Company__list dd {
    @apply w-9/12;
}
.Works {
    @apply grid lg:grid-cols-3 gap-8;
}

.Works__wrapper {
    margin: 0 auto;
}

.Works__img {
    @apply object-cover object-center mb-8 w-full;
}

.Works__name {
    bottom: -1.5rem;
    z-index: 2;
    @apply absolute flex flex-col;
}
.Works__name__text {
    @apply bg-black text-lg text-white p-1 mb-2;
}
.Works__inner {
    @apply relative;
}

.Service__wrapper {
    @apply md:w-8/12 w-full bg-white md:p-8 p-4 relative;
    margin-left: auto;
    margin-right: 0;
    top: -4rem;
    right: 0rem;
}

.News {
    @apply px-4 lg:px-0;
}

.News__wrapper {
    @apply overflow-y-scroll h-48;
}
.News__date {
    @apply text-primary font-semibold;
}

.SubHeading span {
    display: inline-block;
    @apply font-Raleway tracking-widest font-semibold text-sm text-primary pb-4;
}

.SubHeading p {
    @apply text-2xl text-black mb-6 md:mb-8;
}
